body {
  background-color: #222222;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  text-align: center;
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111111;
  padding: 0;
}
ul.header li a {
  color: #aaaaaa;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #444444;
}
