@media all and (min-width: 480px) {
    .Report {
      padding: 60px 0;
    }
  
    .Report form {
      margin: 0 auto;
      max-width: 320px;
      padding: 10px;
    }
  }
  #confirm {
    color: #1ba100;
    font-weight: bold;
  }
  